<!--<% @category.each do |category| %>
	<%= link_to(controller: category.name+'s', action: 'index') do %>

			<p><strong><%= category.name %></strong> </p>

	<% end %>
<% end %> -->
<div class = "row">

	<div class = "col-md-4">
		<%= link_to({controller: 'dogs', action: 'index'},{class: 'thumbnail'}) do %>
	      <img src="http://pngimg.com/upload/dog_PNG2416.png" alt="150x150" style="width: 200px; height: 200px;">
	      <div class="caption">
	        <h3>Собаки</h3>
	    </div>
		<% end %>
	</div>
	<div class = "col-md-4">
			<%= link_to({controller: 'cats', action: 'index'},{class: 'thumbnail'}) do %>
      		<img src="http://pngimg.com/upload/cat_PNG104.png?" alt="150x150" style="width: 200px; height: 200px;">
      		<div class="caption">
        		<h3>Кошки</h3>
    		</div>
			<% end %>
		</div>
	<div class = "col-md-4">
	<%= link_to({controller: 'horses', action: 'index'}, {class: "thumbnail"} ) do %>
	  <img src="http://pngimg.com/upload/horse_PNG2523.png" alt="150x150" style="width: 200px; height: 200px;">
	  <div class="caption">
	    <h3>Лошади</h3>
	  </div>
		<% end %>
	</div>
</div>